/*Imports de fuentes para proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');
/*

font-family: 'Marcellus', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/
:root{
    /****Paleta de Colores****/
    --blue-color:#337AB7;
    --light-blue-color:#48D6ED;
    --dark-grey-color:#161719;
    --grey-color:#333333;
    --light-grey-color:#B2B3B3;
    --aqua-color:#157A8A;
    --magenta-color:#9C2759;
    --dark-magenta-color:#75143D;
    --marcellus:'Marcellus', serif;
    --roboto:'Roboto', sans-serif;
    --playfair:'Playfair Display', serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.logo{
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin-left: 3%;
}
.logo img{
    width: 200px;
    padding: 1rem;
}

.navbar-container{
    background: var(--dark-grey-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navlist{
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin-right: 3%;
    
    
}

.navlist ul{
    list-style: none;
    display:flex;
    padding: 1em;
    
}


.navlist ul li a{
    color: white;
    text-decoration: none;
    font-family: var(--roboto);
    padding: 1rem;
    font-size: 1.3em;
    
}

#inicio{
    background-color: var(--blue-color);
    border-radius: 5%;
}

.slider-container{
    width: 100%;
    max-width: 120em;
    

    overflow: hidden;
}

.slider-container .grande{
    width: 200%;
    

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    

    transition: all .5s ease;
    transform: translateX(0%);
}

.slider-container .img{
    width: calc(100%/2);
    background-color: lime;
}

.slider-container .slider .puntos{
    width: 100%;
    padding: 1em;
    
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    list-style: none;
    top: 10%;
}

.slider-container .punto{
    width: 4em;
    height: 0.9em;
    background-color: blue;
    margin: 1em 1em o;

}

.slider-container ul li{
    margin: 10px;
}

.slider-container .punto.activo{
    background-color: orange;
}